@model MovieVM
@{
    ViewData["Title"] = "Edit Movie";
}

<div class="text-center">
    <h1 class="display-4">Edit Movie</h1>
</div>


<form asp-action="Edit" asp-controller="Movies" asp-antiforgery="true">
    <input asp-for="Id" hidden="hidden" />
    <table>
        <tr>
            <td><label asp-for="Title"></label></td>
            <td><input asp-for="Title" /></td>
            <span asp-validation-for="Title" class="text-danger"></span>
        </tr>
        <tr>
            <td><label asp-for="Year"></label></td>
            <td>
                @Html.TextBoxFor(m => m.Year, new { @type = "number" })
                <span asp-validation-for="Year" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Genre"></label></td>
            <td>
                <select asp-for="Genre" asp-items="Html.GetEnumSelectList<GenreTypes>()">
                    <option selected="" value="" />
                </select>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Rate"></label></td>
            <td>
                <select asp-for="Rate" asp-items="Html.GetEnumSelectList<RateTypes>()">
                    <option selected="" value="" />
                </select>
            </td>
        </tr>
        <tr class="">
            <td><input type="submit" value="Update"  class="btn btn-primary active bottom-buttons"/></td>
            <td>@Html.ActionLink("Cancel", "Index", new { controller = "Movies" }, new { @class = "btn btn-secondary bottom-buttons" })</td>
        </tr>
    </table>
</form>